{% extends 'base.html.twig' %}

{% block title %}Tous nos Bien{% endblock %}

{% block body %}

<div class="container mt-4">

<h1>Voir tous nos biens</h1>
p
</div>

{# <div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>
    <ul>
        bonjour
    </ul>
</div> #}

{% endblock %}
